{% extends 'base.html.twig' %}

{% block title %}A Web Page{% endblock %}

{% block body %}
<main class="container px-4 m-auto">
    <section class="flex justify-center mt-4">
        <h1 class="text-5xl font-bold mt-0 mb-6"><a href="{{ path('app_search') }}">Product Search</a></h1>
    </section>

    <section class="flex justify-center">
        {{ form(form, {'action': path('app_search')}) }}
    </section>
    
    {% if products %}
    <section class="flex justify-center mt-8">
        <table>
            <thead class="border-b">
                <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Image</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Title</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Destination</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="border-b">
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><img src="{{ product.img_sml }}"></td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ product.title }}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{ product.dest }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

    <section class="flex justify-center mt-4">
        {% if products %}
        <p>Showing {{ from }} to {{ to }} of {{ total }} products.</p>
        {% else %}
        <p>Found 0 products.</p>
        {% endif %}
    </section>

    <section class="flex justify-center m-4">
        <nav>
            {% for key, page in pagination.items %}
            <a href="{{ path('app_search', {'title': app.request.query.get('title'), 'page': key}) }}" class="page-link py-1.5 px-3 rounded border-0 outline-none transition-all duration-300
                {% if key == pagination.current %}
                bg-blue-600 text-white hover:text-white hover:bg-blue-600 shadow-md focus:shadow-md
                {% else %}
                bg-transparent text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none
                {% endif %}
            ">{{ page }}</a>
            {% endfor %}
        </nav>
    </section>
</main>
{% endblock %}
